
<html>
    
<body>
    <h1>Detalle de la Pelicula</h1>

    <h3>titulo: "<%=movie.title%>"</h3>
    <h3>id: "<%=movie.id%>"</h3>
    <h3>rating: "<%=movie.rating%>"</h3>
    <h3>premios: "<%=movie.awards%>"</h3>
    <h3>duracion: "<%=movie.length%>" minutos</h3>
    <h3>id de genero"<%=movie.genre_id%>"</h3>

      

</body>
</html>