
<%-include ('header') -%>
    
<body>
    <h1>Detalle de la Pelicula "<%=movie.title%>"</h1>

    <ul>
        <li>
            id: "<%=movie.id%>"
        </li>
        <li>
            rating: "<%=movie.rating%>"
        </li>
        <li>
            premios: "<%=movie.awards%>"
        </li>
        <li>
            duracion: "<%=movie.length%>" minutos
        </li>
        <li>
            Genero"<%=movie.genre.name%>"
        </li>
        <li>
            Actores:
        </li>

    <ul>
        <% for (let i = 0; i < movie.actors.length; i++) { %>

       
        <li>
            <%=movie.actors[i].first_name%>   <%=movie.actors[i].last_name%>
        </li>
        <% } %>
    </ul>
    <a href="/movies/edit/<%=movie.id%>">
        <button>
            Editar
        </button>
    </a>
      <br>
      <br>
      <br>
      <br>
    <%-include ('footer') -%>
</body>
</html>