<%-include ('head') -%>
<%-include ('header') -%>
    
<body>
    <section>

    
    <div class="conteiner">
        <div class="content">

        
<h5>Detalle de la Pelicula "<%=movie.title%>"</h5>
    <ul>
        <li>
            id: "<%=movie.id%>"
        </li>
        <li>
            rating: "<%=movie.rating%>"
        </li>
        <li>
            premios: "<%=movie.awards%>"
        </li>
        <li>
            duracion: "<%=movie.length%>" minutos
        </li>
        <li>Genero: <% if (movie.genre && movie.genre.name) { %><%= movie.genre.name %><% } %></li>
        <li>
            Actores:
        </li>

    <ul>
        <% for (let i = 0; i < movie.actors.length; i++) { %>
        <li>
            <%=movie.actors[i].first_name%>   <%=movie.actors[i].last_name%>
        </li>
        <% } %>
    </ul>

    <% if (locals.isAdmin) { %>
        <a href="/movies/edit/<%=movie.id%>">
        <button>
            Editar
        </button>
        </a>
        <form action="/movies/delete/<%=movie.id%>" method="post">
        <button type="submit">Borrar!</button>
    <% } %>
      </form>
    </div>
    </div>  
      <br></section>
      <br>
    <%-include ('footer') -%>
</body>
</html>